
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#top-bar{
  padding: 10px;
  top:10%;
  position: absolute;
}
#bottom-bar{
  margin:2px;
  top:25%;
  position: absolute;
  height: 75%;
  overflow-y: auto;
  width: 100%;
}

